---
import { CollectionEntry, getCollection } from "astro:content";
import Base from "../../layouts/Base.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();
---

<Base {...post.data}>
  <article class="flex flex-col items-start justify-center pb-16 w-full">
    <h1
      class="mb-4 text-3xl font-bold tracking-tight md:text-5xl text-neutral-50"
    >
      {post.data.title}
    </h1>
    <div
      class="flex flex-col items-start justify-between w-full mt-2 md:flex-row md:items-center"
    >
      <div class="flex items-center">
        <img
          alt="Marco Kammer"
          src="/profile.jpg"
          class="w-6 h-6 rounded-full"
        />
        <p class="ml-2 text-sm text-neutral-300">
          {"Marco Kammer / "}
          {
            new Date(post.data.date).toLocaleDateString("en-us", {
              dateStyle: "long",
            })
          }
        </p>
      </div>
    </div>
    <div class="pt-4 pb-8 prose-neutral dark:prose-invert prose md:prose-lg">
      <Content />
    </div>
    <div class="text-sm text-neutral-300">
      <a
        href="https://twitter.com/kamm3r_"
        target="_blank"
        rel="noopener noreferrer"
      >
        {"Discuss on Twitter"}
      </a>
      {` • `}
      <a
        href="https://github.com/kamm3r/"
        target="_blank"
        rel="noopener noreferrer"
      >
        {"Suggest Change"}
      </a>
    </div>
  </article>
</Base>
