---
// import { getCollection } from 'astro:content';
import Base from "../../layouts/Base.astro";
// import { sortPostByDate } from '../../utils/date';
// const posts = sortPostByDate(await getCollection("blog", ({ data }) => data.isDraft !== true))
---

<Base
  title="Marco Kammer - Blog"
  description="Thoughts on the software industry, programming, tech, videography, music, and my personal life. TODO:edit"
>
  <h1>Blog</h1>
  <div class="flex flex-col gap-12">
    <!-- {posts.map(post => <PostPreview {post} />)} -->
  </div>
</Base>
