---
import HeaderLink from "./HeaderLink.astro";
---

<header
    class="flex flex-row justify-between items-center py-6 sm:pb-16 z-10 mx-auto px-8 md:px-0 w-full"
    <nav
    class="flex justify-between mx-auto text-neutral-100"
>
    <figure class="flex justify-center items-center">
        <img src="/splat.svg" class="w-6 h-6" alt="logo" />
    </figure>
    <div class="flex gap-6">
        <HeaderLink href="/">Home</HeaderLink>
        <HeaderLink href="/blog">Blog</HeaderLink>
        <HeaderLink href="mailto:kamm3r@proton.me">Contact</HeaderLink>
    </div>
</header>
