---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
    href={href}
    class={`${
        isActive ? "font-bold text-lg" : "text-lg opacity-80"
    } hidden md:inline-block rounded-lg hover:opacity-100 transition-all`}
    {...props}
>
    <slot />
</a>
