---
import type { Repo } from "../utils/getPinnedRepo";

type Props = {
    pinned: Repo;
};

const {
    pinned: { name, description, link },
} = Astro.props;
---

<a
    href={link}
    class="border border-neutral-700 bg-neutral-800 rounded flex items-center justify-between px-3 py-4 w-full"
>
    <div class="flex flex-col">
        <p class="font-medium">{name}</p>
        <span class="opacity-60">{description}</span>
    </div>
</a>
